@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* font-family: 'Permanent Marker', cursive; */

}

nav {
    font-family: 'K2D', sans-serif;

    height: 80px;
    background-color: #0a141d;
    width: 100%;
    position: fixed;
}

nav img {
    width: 150px;
    position: absolute;
    top: 10px;
    left: 5%;
}


nav ul {
    float: right;
    margin-right: 30px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    color: aliceblue;
    position: relative;
    font-size: 18px;
    padding: 5px 0;
    text-transform: uppercase;
}

nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: aliceblue;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.5s;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}


label #btn,
label #cancel {
    color: aliceblue;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 900px) {
    nav img {
        left: 6%;
        top: 20px;
        width: 130px;
    }

    nav ul li a {
        font-size: 17px;
    }
}

@media (max-width: 900px) {
    label #btn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #0a141d;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 1s;
    }


    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }
}

#check:checked~ul {
    left: 0;
}



#check:checked~label #btn {
    display: none;
}


#check:checked~label #cancel {
    display: block;
}



/* ---PIE DE PAGINA--- */

.pie-pagina {
    
    width: 100%;
    background-color: #0a141d;
    bottom: 0;
    margin-top: 83px;
    margin-bottom: 0px;


}

.pie-pagina .group-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}


.pie-pagina .group-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .group-1 .box figure img {
    width: 270px;
}


.pie-pagina .group-1 .box h2 {
    font-family: 'K2D', sans-serif;

    color: aliceblue;
    margin-bottom: 25px;
    font-size: 30px;
}

.pie-pagina .group-1 .box p {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin-bottom: 10px;
}


.pie-pagina .group-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    line-height: 45px;
    color: aliceblue;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    font-size: 25px;
    transition: 1s;
}


.pie-pagina .group-1 .red-social a:hover {
    color: #0d2033;
    background-color: aliceblue;
}

.pie-pagina .group-2 {
    color: aliceblue;
    background-color: #0a141d;
    padding: 10px 10px;
    text-align: center;
    font-size: 22px;
}

@media screen and (max-width:800px) {
    .pie-pagina .group-1 {
        text-align: center;
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}



#particles-js {
    width: 100%;
    height: 100%;
    background-color: #232741;
    position: fixed;
    top: 0;
    z-index: -1;
}


.contenido{
    height: 200px;
}
.contenido h1 {
    font-family: 'K2D', sans-serif;
    text-align: center;
    color: black;
    padding-top: 120px;
    font-size: 45px;
}





.contenido2{
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.foto{
    margin: 15px;
    height: 400px;
    width: 400px;
    /* background-color: antiquewhite; */
    text-align: center;
}

.foto img{
    height: 400px;
    width: 403px;
    border-radius: 15px;
}

@media screen and (max-width:900px) {
    .foto img{
        height: 350px;
        width: 353px;
        border-radius: 15px;
    }
}



.info{
    margin: 15px;
    margin-bottom: 30px;
    /* background-color: beige; */
    height: 400px;
    width: 403px;
    text-align: center;
    border-radius: 15px;
    background-color: #4d537e9f;
    font-size: 20px;
    color: aliceblue;
   overflow-y: scroll;
}
.info p{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
}
@media screen and (max-width:900px) {
    .info{
        margin: -50px 15px 30px 15px;
        /* background-color: beige; */
        height: 400px;
        width: 353px;
        text-align: center;
        border-radius: 15px;
        background-color: #4d537e9f;
        font-size: 19px;
        color: aliceblue;
    } 
}





/* MODIFICAR SCROLL */
::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
 ::-webkit-scrollbar-track {
    background: #0a141d;  
    height: 15px;     /* color of the tracking area */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:#4d537e9f;    /* color of the scroll thumb */
    border-radius: 0px;       /* roundness of the scroll thumb */
    border-radius: 10px;
  }